.body_backgorund {
    background-image: bgpicture.jpg.webp;
    background-position: center;
    background-size: cover;
  }
  body{
    cursor: pointer;
  }
  h1
  {
      color: red; 
      font-size: 100px;
  }
  #myCanvas
  {
      border-width:10px;
      background-color: white; 
      border-style:ridge;
  }

  button {
    background-color:greenyellow;
    border: 1px;
    color: white;
    padding: 10px 42px;
    font-size: 16px;
  }
h3{
    color: lightslategray;
    
}
  
  